meta-common/src/main/resources/com/stratio/meta/connector/DataStoreDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataStore" type="DataStoreType"/>
  <xs:complexType name="clusterType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="NodeType" name="node" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NodeType">
    <xs:sequence>
      <xs:element type="xs:string" name="host"/>
      <xs:element type="xs:int" name="port"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataStoreType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Version"/>
      <xs:element type="RequiredPropertiesType" name="RequiredProperties"/>
      <xs:element type="OptionalPropertiesType" name="OptionalProperties"/>
      <xs:element type="BehaviorsType" name="Behaviors"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionalPropertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="Property" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BehaviorsType">
    <xs:sequence>
      <xs:element type="xs:string" name="Behavior" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequiredPropertiesType">
    <xs:sequence>
      <xs:element type="clusterType" name="cluster"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
