crossdata-common/src/main/resources/com/stratio/crossdata/connector/ConnectorDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to STRATIO (C) under one or more contributor license agreements.
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  The STRATIO (C) licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Connector" type="ConnectorType"/>
    <xs:complexType name="ConnectorType">
        <xs:sequence>
            <xs:element type="xs:string" name="ConnectorName"/>
            <xs:element type="DataStoreRefsType" name="DataStores"/>
            <xs:element type="xs:string" name="Version"/>
            <xs:element type="PropertiesType" name="RequiredProperties" maxOccurs="1" minOccurs="0"/>
            <xs:element type="PropertiesType" name="OptionalProperties" maxOccurs="1" minOccurs="0"/>
            <xs:element type="SupportedOperationsType" name="SupportedOperations" maxOccurs="1" minOccurs="0"/>
            <xs:element type="FunctionsType" name="Functions" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PropertiesType">
        <xs:sequence>
            <xs:element type="PropertyType" name="Property" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PropertyType">
        <xs:sequence>
            <xs:element type="xs:string" name="PropertyName"/>
            <xs:element type="xs:string" name="Description"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupportedOperationsType">
        <xs:sequence>
            <xs:element type="xs:string" name="operation" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DataStoreRefsType">
        <xs:sequence>
            <xs:element type="xs:string" name="DataStoreName" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FunctionsType">
        <xs:sequence>
            <xs:element type="DefaultType" name="Default" minOccurs="0" maxOccurs="1"/>
            <xs:element type="CustomType" name="Custom" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DefaultType">
        <xs:sequence>
            <xs:element type="xs:string" name="FunctionName" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomType">
        <xs:sequence>
            <xs:element type="FunctionType" name="Function" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FunctionType">
        <xs:sequence>
            <xs:element type="xs:string" name="FunctionName"/>
            <xs:element type="InputType" name="Input"/>
            <xs:element type="OutputType" name="Output"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InputType">
        <xs:sequence>
            <xs:element type="ParametersType" name="Parameters"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ParametersType">
        <xs:sequence>
            <xs:element type="ParameterType" name="Parameter" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ParameterType">
        <xs:sequence>
            <xs:element type="CrossdataType" name="Type"/>
            <xs:element type="xs:string" name="Description"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OutputType">
        <xs:sequence>
            <xs:element type="ParameterType" name="Parameter"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CrossdataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIGINT"></xs:enumeration>
            <xs:enumeration value="BOOLEAN"></xs:enumeration>
            <xs:enumeration value="DOUBLE"></xs:enumeration>
            <xs:enumeration value="FLOAT"></xs:enumeration>
            <xs:enumeration value="INT"></xs:enumeration>
            <xs:enumeration value="TEXT"></xs:enumeration>
            <xs:enumeration value="VARCHAR"></xs:enumeration>
            <xs:enumeration value="ANY"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
