crossdata-common/src/main/resources/com/stratio/crossdata/connector/DataStoreDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to STRATIO (C) under one or more contributor license agreements.
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  The STRATIO (C) licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DataStore" type="DataStoreType"/>
    <xs:complexType name="DataStoreType">
        <xs:sequence>
            <xs:element type="xs:string" name="Name"/>
            <xs:element type="xs:string" name="Version"/>
            <xs:element type="PropertiesType" name="RequiredProperties" maxOccurs="1" minOccurs="0"/>
            <xs:element type="PropertiesType" name="OptionalProperties" maxOccurs="1" minOccurs="0"/>
            <xs:element type="BehaviorsType" name="Behaviors" maxOccurs="1" minOccurs="0"/>
            <xs:element type="DataStoreFunctionsType" name="Functions" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PropertiesType">
        <xs:sequence>
            <xs:element type="PropertyType" name="Property" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PropertyType">
        <xs:sequence>
            <xs:element type="xs:string" name="PropertyName"/>
            <xs:element type="xs:string" name="Description"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BehaviorsType">
        <xs:sequence>
            <xs:element type="xs:string" name="Behavior" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DataStoreFunctionsType">
        <xs:sequence>
            <xs:element type="FunctionType" name="Function" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FunctionType">
        <xs:sequence>
            <xs:element type="xs:string" name="FunctionName"/>
            <xs:element type="xs:string" name="Signature"/>
            <xs:element type="xs:string" name="FunctionType"/>
            <xs:element type="xs:string" name="Description" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
